.line-end {
  max-height: 16px;

  .entry:first-child & {
    visibility: hidden;
  }
}

.line-start {
  .entry:last-child & {
    visibility: hidden;
  }
}

.dot {
  filter: drop-shadow(0 0 20px hsl(var(--color-primary)));
  overflow: visible;
}
