@keyframes infinity {
  from {
    filter: drop-shadow(0 0 5px currentColor);
  }

  50% {
    filter: drop-shadow(0 0 10px currentColor);
  }

  to {
    filter: drop-shadow(0 0 5px currentColor);
  }
}

@keyframes infinity-blink {
  40% {
    color: currentColor;
  }

  50% {
    color: white;
  }

  60% {
    color: currentColor;
  }
}

@keyframes infinity-shadow-blink {
  40% {
    color: currentColor;
    opacity: 0.1;
  }

  50% {
    color: white;
    opacity: 0.5;
  }

  60% {
    color: currentColor;
    opacity: 0.1;
  }
}

@keyframes sparkles-rotate {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes sparkles-scale {
  0% {
    height: 0px;
    opacity: 0;
  }

  25% {
    height: 200px;
    opacity: 1;
  }

  50% {
    height: 0px;
    opacity: 0;
  }

  75% {
    height: 200px;
    opacity: 1;
  }

  100% {
    height: 0px;
    opacity: 0;
  }
}

@keyframes sparkle {
  from {
    transform: rotateZ(0deg) rotateY(0deg);
  }

  12.5% {
    transform: rotateZ(45deg) rotateY(0deg);
  }

  25% {
    transform: rotateZ(90deg) rotateY(180deg);
  }

  62.5% {
    transform: rotateZ(225deg) rotateY(180deg);
  }

  75% {
    transform: rotateZ(270deg) rotateY(0deg);
  }

  to {
    transform: rotateZ(360deg) rotateY(0deg);
  }
}

.container {
  position: relative;

  .infinity {
    animation:
      infinity 2500ms infinite ease-in-out,
      infinity-blink 1250ms -625ms infinite;
  }

  .infinity1,
  .infinity2,
  .infinity3,
  .infinity4,
  .infinity5 {
    position: absolute;
    top: 50%;
    left: 50%;

    opacity: 0.5;

    animation: infinity-shadow-blink 1250ms infinite
      calc(-650ms + (var(--infinity-shadow-index) - 1) * 125ms);

    scale: calc(1 - var(--infinity-shadow-index) / 10);

    translate: -50% calc(-50% - 1px * var(--infinity-shadow-index))
      calc(var(--infinity-shadow-index) * -10px);

    &.infinity1 {
      --infinity-shadow-index: 1;
    }

    &.infinity2 {
      --infinity-shadow-index: 2;
    }

    &.infinity3 {
      --infinity-shadow-index: 3;
    }

    &.infinity4 {
      --infinity-shadow-index: 4;
    }

    &.infinity5 {
      --infinity-shadow-index: 5;
    }
  }

  .sparkles {
    position: absolute;
    top: 50%;
    left: 50%;

    translate: -50% -50%;

    height: 120px;
    width: 120px;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    animation:
      sparkles-rotate 2500ms infinite linear,
      sparkles-scale 2500ms infinite ease-in-out;

    .sparkle1,
    .sparkle2 {
      animation: sparkle 2500ms infinite linear;
    }
  }
}
