.button {
  // To support icons alongside text, as Raiar doesn't yet support that as of
  // writing this.
  align-items: center;
  display: flex;
  gap: 8px;

  // Raiar default buttons lack contrast with raiar-card in light mode.
  &:is(html:not(:global(.raiar-dark)) &):not(:hover) {
    outline: 1px solid var(--raiar-color-element-border);
  }
}
