@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.canvas {
  animation: fade-in 5000ms ease-in 500ms forwards;
  filter: var(--filter-url);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;

  :global(.raiar-dark) & {
    filter: var(--filter-url) drop-shadow(0 0 15px var(--raiar-color-primary));
  }
}

.filter {
  display: none;
}
