@keyframes slide-in {
  0% {
    scale: 0.9;
    rotate: 5deg;
  }

  15%,
  85% {
    scale: 1;
    rotate: 0deg;
  }

  100% {
    scale: 0.9;
    rotate: -5deg;
  }
}

@keyframes wiggle {
  0% {
    rotate: z 0deg;
  }
  25% {
    rotate: z -1.25deg;
  }
  50% {
    rotate: z 2.5deg;
  }
  75% {
    rotate: z -1.25deg;
  }
  100% {
    rotate: z 0deg;
  }
}

.project {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0px;
  width: 512px;

  animation: slide-in linear;
  animation-timeline: view();

  transition: box-shadow 250ms ease;

  .project:is(:hover, :has(:focus-visible)) {
    box-shadow: var(--raiar-glow-primary);
  }

  .title-container {
    /* Here we use a min-height equal to the image height so project titles stay at the same height whether or not an image is present */
    min-height: 48px;

    .image {
      height: 48px;
    }

    .license {
      opacity: 0.5;
    }
  }

  .button-details {
    &:is(.project:hover *) {
      animation: 500ms ease wiggle;
    }

    span {
      position: relative;

      &:is(.button-details:hover *)::after {
        rotate: 45deg;
      }

      &::after {
        content: "add";
        left: 0;
        position: absolute;
        top: 0;
        transition: rotate 350ms ease;
      }
    }
  }
}
