@keyframes tilt {
  from {
    rotate: x 25deg;
  }

  to {
    rotate: x 0deg;
  }
}

@keyframes twist {
  from {
    rotate: z calc(var(--progress) * 3.75deg);
  }

  to {
    rotate: z calc(var(--progress) * -3.75deg);
  }
}

.parent {
  animation: 3s 1.5s tilt infinite ease-in-out alternate;
  transform-origin: center center;
  transform-style: preserve-3d;

  .first-layer {
    color: hsl(var(--color-primary), 0%);
  }

  .layer {
    --offset-per-layer: calc(var(--depth) / var(--layers));

    animation: 3s twist infinite ease-in-out alternate;
    transform-origin: center center;
    transform-style: preserve-3d;
    translate: 0 0 calc((var(--index) + 1) * var(--offset-per-layer));

    color: color-mix(
      in srgb,
      grey,
      currentcolor calc(100% * pow(var(--progress), 2))
    );
    opacity: var(--progress);

    user-select: none;
    pointer-events: none;
  }
}
